<div class="container">
  <div class="heading">
    <h1><%= @answer %></h1>
  </div>

  <div class="question">
    <p>In answer to your question:</p>
    <p><em><%= params["question"] %></em></p>
  </div>

  <div class="return">
    <%= link_to "Go Back", 'ask' %>
  </div>
</div>
