<div class="container">
  <div class="heading">
    <h1>Ask your coach anything!</h1>
    <p>(But don't expect much back!)</p>
  </div>

  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>

